.cart {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: none;
    color: $color-black;

    &-backdrop {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($color-black, 0.5);
        cursor: pointer;
        position: absolute;
    }

    &-list {
        width: 100vw;
        min-height: 100vh;
        max-height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: $color-white;
        position: absolute;
        right: 0;
        top: 0;
        display: none;
        flex-direction: column;
        transform: translateX(-100%);
        box-shadow: 0 0 50px 1px rgba($color-black, 0.25);
        transition: width 0.125s ease-in-out;

        @include breakpoint(sm) {
            width: px2rem(320);
        }
    }

    &-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $color-grey-light;

        *:last-child {
            flex-grow: 1;
        }

        .btn-cart-close {
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1;
            width: px2rem(50);
            height: px2rem(40);
            font-size: px2rem(30);
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 0 0 3px 0;
        }

        h4 {
            padding: 0 px2rem(50) 0 0;
            margin: 0;
            text-align: center;
        }
    }

    &-footer {
        display: block;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-top: 1px solid $color-grey-light;
    }

    &-items {
        margin: 0;
        padding: 0;
        list-style: none;
        flex-grow: 1;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &-item {
        display: flex;
        align-items: center;
        padding: px2rem(20) px2rem(10) px2rem(20) px2rem(20);
        border-bottom: 1px solid $color-grey-light;

        &-image {
            width: px2rem(50);
            height: px2rem(50);
            max-width: px2rem(50);
            min-width: px2rem(50);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: px2rem(50);
            }
        }

        &-title {
            a {
                @extend .px-10;
                display: block;
            }
            flex-grow: 1;
            font-weight: 100;
        }

        &-remove {
            width: px2rem(30);
            min-width: px2rem(30);
            max-width: px2rem(30);
            height: px2rem(40);
            margin-left: px2rem(10);
            display: flex;
            justify-content: center;
            align-items: cener;
            overflow: hidden;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: px2rem(22);
        }
    }

    &-visible {
        display: block;

        .cart-list {
            display: flex;
            transform: translateX(0%);
        }
    }

    &-hide {
        display: none;
        .cart-list {
            display: none;
            transform: translateX(-100%);
        }
    }
}
